<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CineShowAPP.Properties.Settings.CineSHOW_BDMIn_TablaPeli_AuxilConnectionString"
            connectionString="Data Source=DESKTOP-4NLK0BU\SQLEXPRESS;Initial Catalog=CineSHOW_BDMIn_TablaPeli_Auxil;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CineShowAPP.Properties.Settings.CineSHOW_BDMIn_TablaPeli_AuxilConnectionStringFer"
            connectionString="Data Source=localhost;Initial Catalog=CineSHOW_BDMIn_TablaPeli_Auxil;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CineShowAPP.Properties.Settings.CineSHOWConnectionStringBDTc"
            connectionString="Data Source=DESKTOP-4NLK0BU\SQLEXPRESS;Initial Catalog=CineSHOW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CineShowAPP.Properties.Settings.CineSHOWConnectionStringEntradas"
            connectionString="Data Source=(localdb)\ServerMeli;Initial Catalog=CineSHOW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>